.left {
    float:left;
    /*background-color: goldenrod;*/
}
.right {
    float: left;
    /*background-color: aquamarine;*/
    width: 800px;
}


.top {
/*background-color: blue;*/
}
.yours {
    /*background-color: darkgrey;*/
    clear:both;
    position: absolute;
    bottom: 0;
    height: 390px;
    width: 100%;
}

.players {
    /*background-color: coral;*/
    min-width: 300px;
    margin-right: 10px;
}
.players ul {
    list-style-type: none;
    margin-left: -20px
}

.lastPlayedCards {

}
.lastPlayedCards .singleCard {
    position: relative;
    top: 0px;
    margin-left: -60px;
    float: inherit;
    left: 60px;
}


 .yourCards .singleCard {
    position: relative;
    margin-left: -40px;
    float: inherit;
    left: 40px;
}


.deck, .lastPlayedCards {
    float: left;
    margin-left: 20px;
}

.yourCards .singleCard {

    height: 40%;
}

.yourCards {
    position: absolute;
    bottom: 0px;
    float: left;
    width: 100%;
}

.turn  {
    margin-right: 10px;
}

span.cardInfo {
    float: right;
}
li.active {
    background-color: bisque;
    font-weight: bold;
}
.disableCards {
    width:100%;
    position: absolute;
    background: green;
    height: 200px;
    z-index: 600;
    bottom: 0px;
}

.infoState {
    margin-bottom: 60px;
    background: burlywood;
    padding: 5px;
}

.singleCard .selected {
    bottom: 50px !important;
}
.selectPlayer {

    background: darkkhaki;
    padding: 5px;

}
.gonnaBoom {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    /*background: orange;*/
    height: 100px;
    display: none;
}
.bombCount {
    position: relative;
    top: -94px;
    left: 30px;
    font-size: 70px;
    font-family: Impact, Charcoal, sans-serif;
}

li.selectable {
    cursor: pointer;
}

li.selectable:hover {
    background: black;
    color: wheat;
}

