.left {
    float:left;
    /*background-color: goldenrod;*/
}
.right {
    float: left;
    /*background-color: aquamarine;*/
    width: 800px;
}


.top {
/*background-color: blue;*/
}
.yours {
    /*background-color: darkgrey;*/
    clear:both;
    position: absolute;
    bottom: 0;
    height: 390px;
    width: 100%;
}

.players {
    /*background-color: coral;*/
    min-width: 300px;
    margin-right: 10px;
}
.players ul {
    list-style-type: none;
    margin-left: -20px
}
.lastPlayedCards {
    width: 250px;
}

.lastPlayedCards .singleCard {
    position: relative;
    top: 0px;
    margin-left: -70px;
    float: inherit;
    left: 70px;
}


 .yourCards .singleCard {
    position: relative;
    margin-left: -40px;
    float: left;
    left: 40px;
}


.deck, .lastPlayedCards {
    float: left;
    margin-left: 20px;
}

.yourCards .singleCard {

    height: 40%;
}

.yourCards {
    position: absolute;
    bottom: 0px;
    float: left;
    width: 100%;
}

.turn  {
    margin-right: 10px;
}

span.cardInfo {
    float: right;
}
li.active {
    background-color: bisque;
    font-weight: bold;
}
.disableCards {
    width:100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.71) none repeat scroll 0%;
    height: 200px;
    z-index: 600;
    bottom: 0px;
}

.infoState {
    margin-bottom: 90px;
    background: burlywood;
    padding: 5px;
}

.singleCard .selected {
    bottom: 50px !important;
}
.selectPlayer {

    background: darkkhaki;
    padding: 5px;

}
.gonnaBoom {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    /*background: orange;*/
    height: 100px;
    display: none;
}
.nutCount {
    position: relative;
    top: -94px;
    left: 30px;
    font-size: 70px;
    font-family: Impact, Charcoal, sans-serif;
}

.selectable {
    cursor: pointer;
}

li.selectable:hover {
    background: black;
    color: wheat;
}

.cardsuggestion {
    position: absolute;
    top: -30px;
    left: 30px;
    color: red;
}

ul.history {
    max-width: 250px;
    list-style-type: none;
    margin-left: -20px
}


.lastPlayedCards .singleCard:hover
{
    z-index:2000 !important;
}


.yourCards .singleCard:hover {
    z-index: 2000 !important;
}
.direction {
    float: right;
}

.previewCards {
    position: absolute;
    left: 50%;
    right: 50%;
    background: burlywood;
    width: 300px;
    margin-left: -200px;
    padding: 10px;
    text-align: center;
    top: 120px;
}

.previewCards .singleCard {
    float: left;
}

.button {
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    font: bold 12px/25px Arial, sans-serif;

    text-shadow: 1px 1px 1px rgba(255,255,255, .22);

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);

    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}


.green {
    color: #3e5706;

    background: #a5cd4e; /* Old browsers */
    background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* IE10+ */
    background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* W3C */
}

/* Blue Color */

.blue {
    color: #19667d;

    background: #70c9e3; /* Old browsers */
    background: -moz-linear-gradient(top,  #70c9e3 0%, #39a0be 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70c9e3), color-stop(100%,#39a0be)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* IE10+ */
    background: linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* W3C */
    cursor: pointer;
}

/* Gray Color */

.gray {
    color: #515151;

    background: #d3d3d3; /* Old browsers */
    background: -moz-linear-gradient(top,  #d3d3d3 0%, #8a8a8a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#8a8a8a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* IE10+ */
    background: linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* W3C */
}
.big {
    padding: 0 40px;
    padding-top: 10px;
    height: 45px;
    text-transform: uppercase;
    font: bold 20px/22px Arial, sans-serif;
}

.big span {
    display: block;
    text-transform: none;
    font: italic normal 12px/18px Georgia, sans-serif;
    text-shadow: 1px 1px 1px rgba(255,255,255, .12);
}
.button.blue:hover {
    color: #3e5706;

    background: #a5cd4e; /* Old browsers */
    background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* IE10+ */
    background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* W3C */


    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
    box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
}

.dialog-overlay {

    /* set it to fill the whil screen */
    width:100%;
    height:100%;

    /* transparency for different browsers */
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    background:#000;

    /* make sure it appear behind the dialog box but above everything else */
    position:absolute;
    top:0; left:0;
    z-index:3000;

    /* hide it by default */
}


.dialog-box {

    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #eee;
    /* width: 328px; */
    position: absolute;
    z-index: 5000;
    left: 50%;
    right: 50%;
    width: 900px;
    margin-left: -400px;
    margin-right: -400px;
    top: 40px;;

}

.dialog-box .dialog-content {
    /* style the content */
    text-align:center;
    padding:10px;
    margin:13px;
    color:#666;
    font-family:arial;
    font-size:30px;
}

.dialog-box .dialog-content p {
    font-weight:700; margin:0;
}

.dialog-box .dialog-content ul {
    margin:10px 0 10px 20px;
    padding:0;
    height:50px;
}

span.subtitle {
    font-size: 15px;
}